 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    font-family: 'Poppins', sans-serif;
 }
.tabs{
    display: flex;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.btn-order{
    padding: 0px 30px ;
    background-color: red;
    border: 0.50px solid white;
    color: aliceblue;
    font-weight:200;
    font-size: larger;
    letter-spacing: 0.40px;
    border-radius: 10px;
   cursor: pointer;
}
.btn-order:hover{
    background-color:rgb(142, 11, 11)
}
